{{#result}}
<tr>
    <td>{{date}}</td>
    <td><a href="/bugs/{{name}}">{{title}}</a></td>
    <td><span id="wooyun-type">{{type}}</span></td>
    <td><span id="wooyun-author">{{author}}</span></td>
</tr>
{{/result}}
<input type="hidden" id="count-input" value="{{count}}">           